<header>
    <sections>
        <a src="#">
            <img id="header-logotype" width="140" height="60" alt="Логотип">
        </a>
    </sections>
    <img id="header-bg-image" width="1100" height="700" alt="Красивая девушка">
</header>