<header>
    <sections class="header-logotype">
        <a src="#">
            <img id="header-logotype" width="140" alt="Логотип">
        </a>
        <p>Студия депиляции
            <br> и красоты BRENDA</p>
        <div class="header-button">
            <div class='telephone-logo'>
                <img id='telephone-logo' width="15" height="15" alt="telephone-logo">
            </div>
            <button> 8 800 2000 600</button>
        </div>
    </sections>
    <h1>Красивые ухоженные
        <br> ногти в студии депиляции
        <br> BRENDA
    </h1>
    <img id="header-bg-image" width="1040" alt="Красивая девушка">
</header>